<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"> -->

<!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

<!-- Position Column -->
<!-- <ng-container matColumnDef="PacketType">
    <th mat-header-cell *matHeaderCellDef> PacketType </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container> -->

<!-- Name Column -->
<!-- <ng-container matColumnDef="SenderID">
    <th mat-header-cell *matHeaderCellDef> SenderID </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container> -->

<!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->

<!-- <p>Entered Value Pair Packet Type && SenderID = {{i}}</p> -->

<!-- <ul> -->
<!-- <li *ngFor="let data of ENOCEAN_DATA | keyvalue"> -->
<!-- PacketType {{data.key}} SenderID {{data.value}} -->
<!-- </li> -->
<!-- </ul> -->

<!-- <p>PacketType = {{packetType}}</p>
<p>SENDER ID = {{senderID}}</p> -->

<!-- SHOW RECIVED PARAMETERS  -->

<button (click)="getPosts()">GET RESPONSE</button>
<!-- <div *ngFor="let post of posts | async">
  {{post | json}} -->
<!-- </div> -->