<h2 mat-dialog-title>Teach in</h2>
<mat-dialog-content class="mat-typography">
  <div *ngIf="stage == 0">
    <h3><b>Please enter the funtion name </b></h3>
    <br>
    <form class="functionNameInput">
      <mat-form-field class="function-name-width" appearance="fill">
        <mat-label>Function name</mat-label>
        <input matInput required type="text" name="func-name" [(ngModel)]="inputString" maxlength="256"
          placeholder="ON / OFF">
        <mat-hint align="start"><strong>Give a meaningful name</strong> </mat-hint>
        <mat-hint align="end">{{inputString.length}} / 256</mat-hint>
      </mat-form-field>
    </form>
  </div>

  <div *ngIf="stage == 1">
    <h3><b>EnOcean Telegrams</b></h3>
    <!-- Mat table show incoming EnOcean Signals user can then choose which one -->
    <!-- <button *ngFor="let telegram of enOceanTelegrams" mat-button>{{telegram}}</button> -->
    <li *ngFor="let telegram of enOceanTelegrams">
      {{telegram.type}} , {{telegram.senderID}}, {{telegram.payload}}
    </li>
  </div>

  <div *ngIf="stage == 2">
    <h3><b>Infrared Signals</b></h3>
    <button *ngFor="let signal of irSignals" mat-button>{{signal}}</button>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- <button mat-button [mat-dialog-close]="false" cdkFocusInitial (click)="openEnOceanDialog(message.value)">Next</button> -->
  <button mat-button cdkFocusInitial (click)="next()">Next</button>

</mat-dialog-actions>