h1{
  text-align: center;
}

p{
  text-align: center;
}

button{
color: white;
background-color:#0d6efd ;
}

.exp-content{
  display: flex;
  flex-direction: column;

  .actions
  {
    padding: 8px;
    display: flex;
    flex-direction: row;

    .spacer{
      flex: 1;
    }
  }

  .eo-entry{
    display: flex;
    flex-direction: row;

    .eo-entry-id{
      flex: 1;
    }
  }
}
